<section id="login">
  <div class="container">
    <!-- <div class="row"> -->
    <div>
      <img src="../../assets/img/logo.png" />
      <h1>Corresponsal No Bancario</h1>
      <div class="textHeader col-xs-12">
        <p>A través de este portal usted podrá acceder a su CNB y ofrecer a sus clientes transacciones como retiro, depósito,
          pagos y recargas</p>
      </div>
      <h3>Iniciar Sesión</h3>
      <form class="form-wrap" role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
        <div class="form-group col-xs-12 col-sm-8 col-md-6 col-lg-4 text-center">
          <label for="email" class="sr-only">Usuario</label>
          <input type="email" name="email" id="email" class="form-control textInputF" placeholder="Usuario">
        </div>
        <div class="form-group col-xs-12 col-sm-8 col-md-6 col-lg-4 text-center">
          <label for="key" class="sr-only">Contraseña</label>
          <input type="password" name="key" id="key" class="form-control textInputF" placeholder="Contraseña">
        </div>
        <!-- <div class="checkbox">
                          <span class="character-checkbox" onclick="showPassword()"></span>
                          <span class="label">Show password</span>
                      </div> -->


        <div class="btn-custom col-md-2 col-lg-2" (click)="enviar()">
          
          <p class="textBtn">Ingresar</p>
          <!-- <span class="spanBtn col-md-2 col-lg-2" style="margin:2em 0 0 2em"> Ingresar </span> -->
          
          <input type="submit" id="btn-login" style="display:none" value="Ingresar" onsubmit="enviar()">
        </div>

        <!-- <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block col-md-2 col-lg-2" value="Ingresar"> -->


      </form>

      <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">¿Olvidó su contraseña?</a>
      <hr>
    </div>
    <!-- /.col-xs-12 -->
    <!--</div>  /.row -->
  </div>
  <!-- /.container -->
</section>


<footer id="footer">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <p>© Copyright Banistmo S.A. 2017. Todos los Derechos Reservados.</p>
        <!-- <p>Powered by <strong><a href="http://www.facebook.com/tavo.qiqe.lucero" target="_blank">TavoQiqe</a></strong></p> -->
      </div>
    </div>
  </div>
</footer>



<!-- <p>
  login works!
</p>


<nav>
  <p><a routerLink="/Operario"> link Operario</a></p>
  <p><a routerLink="/Administrador"> link Administrador</a></p>
  <p><a routerLink="/error"> link error</a></p>
  <p><a routerLink="/Contacto"> link Contacto</a>  </p>
  <p><a routerLink="/logout"> link logout</a>  </p>

  <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
  
  <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
  
  <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
  
  <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
  
  <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
  
  
  
</nav> -->