<head>



</head>

<br>
<br>
<div class="container BarraMensaje">
    <i class="fa fa-home icono" aria-hidden="true" routerLink="/Login" routerLinkActive="active" style=" font-size: 40px; margin-left: 15px"></i> 
    <p style="font-size: 25px; margin-left: 15px">Su sesion ha finalizado exitosamente</p>
  </div>
  <div class="container text-center">
    
    <div>

      <p class="Estilo" style=" margin-top: 30px">
        Su sesion ha finalizado
        <br> exitosamente

      <p class="Estilo" style="font-size: 25px">
        <strong>Su sesion ha finalizado
          <br> exitosamente </strong>

      </p>
      <div class=" Estilo text-center "  >       
        <i class="fa fa-home icono" aria-hidden="true" routerLink="/Login" routerLinkActive="active" style="color: rgb(12 , 33, 116); font-size: 40px"></i>        
        
      </div>
    </div>

  </div>