$AzulBanistmo: rgb(12 , 33, 116);



.BarraError{

color:  rgb(167, 30, 34);
background: rgb(249, 223,226);
border-style: solid;
border-width: 1px;
border-color: rgb(190, 69, 73);
border:solid 1px rgb(167, 30, 34);



}

.TextoError {

    color: $AzulBanistmo;



}